name: Build
on:
  push:
    branches:
      - "main"
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: hmarr/debug-action@v2
      - name: AWOOGA
        run: echo "not a fork!"
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository || github.event_name == 'push' }}
      - name: Build
        run: make
      - name: test
        run: |
          ping -6 -c 1 mill.growse.com
